## Data Cleaning

Using a test run dataset, I show how json data was extracted and converted into read dataframes

In [1]:
import json
import pandas as pd

In [47]:
with open('data/test-run.json', 'r') as file:
    data = json.load(file)

In [48]:
data

[{'number_of_runs': 2, 'number_of_simulation_iterations': 500},
 {'final_bankroll': 70,
  'rounds_played': 5,
  'initial_bankroll': 100,
  'round_outcomes': [5, -5, -5, -5, 5]},
 {'final_bankroll': 50,
  'rounds_played': 5,
  'initial_bankroll': 100,
  'round_outcomes': [-5, -5, -5, -5, -5]}]

In [49]:
df = pd.read_json('data/test-run.json')
df

,number_of_runs,number_of_simulation_iterations,final_bankroll,rounds_played,initial_bankroll,round_outcomes
0,2.0,500.0,NaN,NaN,NaN,NaN
1,NaN,NaN,70.0,5.0,100.0,"[5, -5, -5, -5, 5]"
2,NaN,NaN,50.0,5.0,100.0,"[-5, -5, -5, -5, -5]"

In [50]:
metadata = df[['number_of_runs', 'number_of_simulation_iterations']].dropna()
metadata

   number_of_runs  number_of_simulation_iterations
0             2.0                            500.0

In [22]:
final_results = df[['final_bankroll', 'rounds_played', 'initial_bankroll']].dropna()
final_results

   final_bankroll  rounds_played  initial_bankroll
1            30.0           10.0             100.0

In [53]:
game_data = df[['round_outcomes']].dropna().reset_index(names='game')
game_data = game_data.explode('round_outcomes').reset_index(names='round')

game_data

   round  game round_outcomes
0      0     1              5
1      0     1             -5
2      0     1             -5
3      0     1             -5
4      0     1              5
5      1     2             -5
6      1     2             -5
7      1     2             -5
8      1     2             -5
9      1     2             -5

## Exploratory Analysis

In [38]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
plt.plot()